<main>
  <div>
    <h2 id="titled">Users</h2>
    <% if user_signed_in? %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, :class => "btn" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, :class => "btn" %> 
    <% end %>
  </div>

  <ul>
    <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <li class="user-card">
          <div class="user-image"><%= image_tag user.photo %></div>
          <div class="card-details">
            <h3><%= user.name %></h3>
            <span>Number of posts: <%= user.posts_counter %></span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>
