<main>
  <section class="user-card">
    <div class="user-image"><%= image_tag @user.photo %></div>
    <div class="card-details">
      <h3><a><%= @user.name %></a></h3>
      <span>Number of posts: <%= @user.posts_counter %></span>
      <%= link_to 'New Post', new_user_post_path(@user.id), :class => "new-p-link" %>
    </div>
  </section>

  <section class="bio-card">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </section>

  <section class="posts-sec">
    <h2>Recent Posts</h2>
    <%if can? :create, Post %>
      <%= link_to "New Post", new_user_post_path(@user.id) %>
    <% end %>
    <ul>
      <% @user.posts.each do |post| %>
        <%= link_to user_post_path(@user.id, post.id) do %>
          <li class="post-card">
            <h3>Post <%='#'%><%= post.id %></h3>
            <p><%= post.text %></p>
            <span>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
    <button class="see-more"><%= link_to user_posts_path(@user.id) do %>See all posts<% end %></button>
  </section>
</main>