<div>
  <section class="comments">
    <div class="p-lk-cm">
      <h3>Post <%='#'%><%= @post.id %> by <%= @user.name %> </h3>
      <span>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></span>
    </div>
    <p><%= @post.text %></p>
  </section>

  <section class="comments">
    <ul class="clean-ul">
    <% @post.comments.each do |comment| %>
      <li>
        <span><%= comment.author.name %>: <%= comment.text %></span>
      </li>
    <% end %>
    </ul>
  </section>
</div>
